body {
  margin:0;
  font-family: "Cambria", serif;
}

p{
  font-size: 20px;
  line-height: 28px;;
}
li {
  line-height: 30px;
  font-size: 20px;
}

td{
  padding: 10px;;
}
.main_header_box{
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #2F8F9D;
  position: sticky;
  top:0;
}

.main_header{
  padding-top: 5px;
  background-color: #2F8F9D;
  margin:0;
  height: 40px;
  color: white;
}

.round_img{
  border-radius:100%;
  width: 200px;
  height: auto;
}

.box_img{
  width: 220px;
  height: auto;
  border: 5px solid #555;
  border-radius: 12px;
}
.spotify_player{
  margin=0;
}

.who_we_are_container{
  margin: 0;
  height: 230px;
  background-color: #82DBD8;
  color: white;
}

.why_container{
  margin: 0;
  height: 320px;
  background-color: #B3E8E5;
  color:#2F8F9D;
}

.how_container{
    margin: 0;
    height: 320px;
    background-color: #82DBD8;
    color: white;
}

.who_container{
  margin: 0;
  height: 320px;
  background-color: #B3E8E5;
  color:#2F8F9D;
}

.items_container{
    margin: 0;
    height: 1500px;
    background-color: #82DBD8;
    color: white;
}

h2 {
  margin: 0;
  padding:20px;
  width: 100%;
}

.img_td{
  padding-right: 40px;
}

.why_statement{
  font-size: 20px;
  font-weight: bold;
}


.BUTTON_PFX {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_PFX:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
