body {
  margin:0;
  font-family: "Cambria", serif;
}

p{
  font-size: 20px;
  line-height: 28px;;
  padding: 0;
}
li {
  line-height: 30px;
  font-size: 20px;
  padding: 0;
}

td{
  padding-right: 15px;
  padding-bottom: 5px;
  /* padding: auto; */
}

h2 {
  margin: 0;
  padding:20px 0px;
  width: 100%;
}

.main_header_box{
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #2F8F9D;
  position: sticky;
  top:0;
}

.main_header{
  padding-top: 5px;
  background-color: #2F8F9D;
  margin:0;
  height: 40px;
  color: white;
}

.round_img{
  border-radius:100%;
  width: 200px;
  height: auto;
}

.box_img{
  width: 220px;
  height: auto;
  border: 5px solid #555;
  border-radius: 12px;
}
.spotify_player{
  margin=0;
}

.who_we_are_container{
  margin: 0;
  height: 230px;
  background-color: #82DBD8;
  color: white;
}

.why_container{
  margin: 0;
  height: 320px;
  background-color: #B3E8E5;
  color:#2F8F9D;
}

.how_container{
    margin: 0;
    height: 320px;
    background-color: #82DBD8;
    color: white;
}

.who_container{
  margin: 0;
  height: 320px;
  background-color: #B3E8E5;
  color:#2F8F9D;
}

.items_container{
    margin: 0;
    height: 1100px;
    background-color: #82DBD8;
    color: white;
}


.why_statement{
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}
